<!DOCTYPE html>
<html data-template="categories/category" lang="{{ .Site.LanguageCode }}">
{{ partial "header.html" . }}
<body class="blog has-navbar-fixed-top">
{{ partial "navbar.html" . }}
<section class="blog-content section">
  <article class="container">
    <div class="content is-large">
      <h2 class="title is-2">Category: {{ .Title }}</h2>
      <p>{{ .Params.description }}</p>
      <div class="year-group">
      {{ range .Data.Pages.ByPublishDate.GroupByDate "2006" "desc" }}
        <div class="year">{{ .Key }}</div>
        {{ range .Pages.ByPublishDate }}
          <div class="item">
            <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
          </div>
        {{ end }}
      {{ end }}
      </div>
    </div>
  </article>
</section>
{{ partial "footer.html" . }}
</body>
</html>
