<!DOCTYPE html>
<html data-template="categories/list" lang="{{ .Site.LanguageCode }}">
{{ partial "header.gohtml" . }}
<body>
{{ partial "navbar.gohtml" . }}
<section class="blog-content section">
  <article class="container">
    <div class="content is-large">
      {{ .Content }}
      <h1 class="title is-1">{{ .Title }}</h1>
      {{ range .Pages }}
        {{ $pages := len .Pages }}
        {{ if ne $pages 0 }}
          <p>
            <a href="{{ .Permalink }}">{{ .Title }} ({{ $pages }})</a>
            <span class="blog-category-description">{{ .Params.description }}</span>
          </p>
        {{ end }}
      {{ end }}
    </div>
  </article>
</section>
{{ partial "footer.gohtml" . }}
</body>
</html>
