@charset "utf-8";

@import "~highlight.js/styles/idea.css";
@import "~@fortawesome/fontawesome-free/css/svg-with-js.css";

// override initial variables
$code-family: "Fira Code", monospace;

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";

.blog {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &-content {
    flex: 1;
  }

  &-footer {
  }

  &-subtitle {
    @extend .subtitle;
    font-family: CustomSansSerif, "Lucida Grande", Arial, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #79828B;
    margin: 12px 21px 12px 0;
    font-style: normal;

    & time::after,
    & span::after {
      content: "\2022";
      padding: 0 7px;
    }

    & a::after {
      content: ",";
    }

    & a:last-child::after {
      content: "";
    }

    & a {
      color: #79828B;
    }
  }

  &-title {
    & a {
      &:link {
        color: #000000;
      }

      &:visited {
        color: #000000;
      }

      &:focus {
        text-decoration: underline;
      }

      &:hover {
        text-decoration: underline;
      }

      &:active {
        color: #323232;
      }
    }
  }

  pre {
    background-color: #ffffff;
    border: 1px dotted #ddd;
  }
}

.navbar-item {
  .icon:only-child {
    margin-right: 0;
  }

  .icon img {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
  }
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

.year-group {
  // TODO: Responsive
  position: relative;
  margin-bottom: 1.5em;

  & .year {
    position: absolute;
    left: -5em;
    font-weight: 700;
  }
}

.cv {
  .notification {
    &.is-company {
      background-color: #ebebeb;
      color: rgba(0, 0, 0, .7);

      .is-company-logo {
        width: calc(128px + 1.5rem);
      }
    }

    > .notification:first-of-type {
      margin-top: 1.5rem;
    }
  }
}
