<link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}1.css?abfbda63acc3c9a4d7ba"/>
<link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}app.css?a77bd417992468edc715"/>

<script type="text/javascript" src="{{ .Site.BaseURL }}vendors~app.js?e91f24841d1bc787bad7"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}app.js?d677cac31f79dbe6cd87"></script>

