<footer class="blog-footer footer">
  <div class="content has-text-centered">
    <p>
      <span class="copyleft">&copy;</span> {{ now.Year }}
      <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
    </p>
    <p>Source code on <a href="https://github.com/IRus/blog">GitHub</a></p>
  </div>
</footer>
