<div>
  {{ if .NextInSection }}
    <a href="{{ .NextInSection.Permalink }}" class="is-pulled-left">← {{ .NextInSection.Title }}</a>
  {{ end }}
  {{ if .PrevInSection }}
    <a href="{{ .PrevInSection.Permalink }}" class="is-pulled-right">{{ .PrevInSection.Title }} →</a>
  {{ end }}
</div>
