{{ partial "header.gohtml" . }}
<article>
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Data.Pages.ByPublishDate.GroupByDate "2006" "desc" }}
    <p>{{ .Key }}</p>
    <ul>
      {{ range .Pages.ByPublishDate.Reverse }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  {{ end }}
</article>
{{ partial "footer.gohtml" . }}
